<!DOCTYPE html>
<html lang="en">

<head>
    <script src="htmx.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width" />

    <title>chat</title>
</head>

<body class="container mx-auto p-4 bg-black text-white">
    <p class="bg-zinc-700 rounded-md shadow-lg px-4 py-2 mb-4 text-center font-semibold">{{ .User }}</p>
    <div hx-get="/messages" hx-trigger="every 200ms" id="messages" class="mb-4">
    </div>
    <form hx-on::after-request="this.reset()" hx-post="/new_message" hx-target="#messages"
        class="bg-zinc-700 rounded-md border grid grid-cols-5 text-white">
        <input name="text" id="text" class="bg-zinc-700 text-white px-3 py-2 outline-none col-span-4"
            type="textarea"></input>
        <button hx-target="#messages" hx-post="/new_message"
            class="bg-transparent text-white px-3 py-2 col-span-1">Send</button>
    </form>
</body>

</html>
