{{ $sender := .data.Sender }}
{{ range $index, $message := .data.Messages}}



    {{ if $message.IsSender $sender }}

        <article id="{{ $message.Id }}" class="px-5 py-2 chat chat-start">
            <div class="chat-header">
                {{ $message.Sender }}
                <time class="text-xs opacity-50">{{ $message.DateString }}</time>
            </div>
            <div class="chat-bubble">{{ $message.Content }}</div>
        </article>

    {{ else }}

        <article id="{{ $message.Id }}" class="px-5 py-2 chat chat-end">
            <div class="chat-header">
                {{ $message.Sender }}
                <time class="text-xs opacity-50">{{ $message.DateString }}</time>
            </div>
            <div class="chat-bubble">{{ $message.Content }}</div>
        </article>

    {{ end}}

{{ else }}

    <article class="artboard artboard-horizontal phone-1 bg-neutral opacity-0 mx-auto">

    </article>

{{ end }}